@import url(common.css);


/*HEADER*/
header {
    position: fixed; z-index: 101; left: 0; right: 0; margin: 20px 0;
}
header .logo {float: left;}
header nav {float: right;}
header nav ul {float: left;}
header nav ul li {
    float: left; 
    line-height: 56px; 
    font-size: 12px; 
    padding: 0px 10px;
    text-transform: uppercase;
}
header nav ul li a {color: #fff;}

header h1 a {
    background-image: url(../images/logo-white.png);
    background-repeat: no-repeat;
    display: block;
    width: 171px; height: 56px;
    text-indent: -9999em;
}
header nav .navbar_main {
    margin-right: 30px;
}
/*SLIDER*/
.slider_list li{
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    text-align: center;
    width: 100%;
    color: #fff;
    position: relative;
}
.slider_list li.slide1 {background-image: url(../images/mainslide_01.jpg);}
.slider_list li.slide2 {background-image: url(../images/mainslide_02.jpg);}
.slider_list li.slide3 {background-image: url(../images/mainslide_03.jpg);}

.slider_list li .slide_text{
    width: 700px;
    margin: auto;
	padding: 401px 0 53px;
	color: #fff;
}
.slider_list li .slide_text p {
    width: 500px;
    margin: 0 auto 50px; 
    font-size: 12px; line-height: 20px;
}
.main_slider {position: relative;}

.main_slider p.controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 102;
    font-size: 70px;
    opacity: 60%;
} 

.main_slider p.controls a{
    color: #fff;
} 

.main_slider p.controls .prev {
    margin-left: 150px;
}
.main_slider p.controls .next {
    margin-right: 150px;
}
.main_slider p.custom-pager {
    position: absolute; left:0; right:0; bottom: 20px; z-index: 102;
    text-align: center;
    color: #fff;
    font-size: 48px;
    z-index: 103;
}

.main_slider .custom-pager span{
	width: 15px; height: 15px;
	background: rgba(255,255,255,.8);
	border: 3px solid transparent;
	margin: 0 10px;
	border-radius: 50%;
	text-indent: -9999em;
	display: inline-block;
}

.main_slider p .cycle-pager-active {
    background: none;
    border: 2px solid #fff;
}
/*CONTENT*/
main.content .service ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    margin: 90px 0;
}
main.content .service ul li {
    margin: 0px 10px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
	font-family: "Raleway", sans-serif;
    color: #555555;
}
main.content .service ul li:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 10px auto; /* This will center the border. */
    width: 25%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 3px solid #c7b299; /* This creates the border. Replace black with whatever color you want. */
    opacity: 50%;
}
main.content .service svg {
    display: block;
    font-size: 34px;
    margin: auto;
}
main.content .service ul li p {
    font: 12px/24px "Montserrat", sans-serif;
    font-weight: 500;
    color: #8c8c8c;
}
main.content .service ul li:hover {
    color: #c7b299;
}

main.content .idea_slide {
    background: rgb(251,250,248);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
main.content .idea_slide .container {
    width: 50%;
    padding: 70px 0 0;
}
main.content .idea_slide .container p {
    margin-bottom: 32px;
}

main.content .text_purchase {
    background: linear-gradient(to right, black, #4e3427);
    height: 150px;
    padding: 50px 0;
}
main.content .text_purchase ul{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
}
main.content .text_purchase ul li p{
    font-size: 24px;
	font-family: "Raleway", sans-serif;
    color: #fff;
}
main.content .text_purchase ul li p.text_p_sub {
    font-size: 16px;
    font-weight: 500;
    color: #8c8c8c;
}
main.content .text_purchase ul li p em {
    color: #c7b299;
}
main.content .text_purchase .container a {
    color: #fff;
}
main.content .latest_projects {
    height: 1160px;
    padding: 80px 0;
}

section.latest_projects ul.project_img{
    display: inline-flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
}
section.latest_projects ul.project_img>* {
    flex: 1 1 30%;
    width: 370px; height: 340px;
}

section.latest_projects ul.project_img li .img1 {background-image: url(../images/project_01.jpg);}
section.latest_projects ul.project_img li .img2 {background-image: url(../images/project_02.jpg);}
section.latest_projects ul.project_img li .img3 {background-image: url(../images/project_03.jpg);}
section.latest_projects ul.project_img li .img4 {background-image: url(../images/project_04.jpg);}
section.latest_projects ul.project_img li .img5 {background-image: url(../images/project_05.jpg);}
section.latest_projects ul.project_img li .img6 {background-image: url(../images/project_06.jpg);}

section.latest_projects ul.project_img li div {
    display: block;
    height: 240px;
    width: 370px;
    background-size: cover;
    background-repeat: no-repeat;
}
section.latest_projects ul.project_img .img_text{
    display: block;
    height: 100px;
    padding: 30px 30px 0;
    background-color: rgb(251,250,248);
}

section.latest_projects ul.project_img p.prj_main_tt {
    font-size: 17px;
    font-weight: 500;
    color: #c7b299;
    line-height: 24px;
}

section.video {
    height: 700px; width: 100%;
    background-image: url(../images/video_bg.jpg);
}

section.counters {
    background: linear-gradient(to right, black, #4e3427);
    height: 300px;
    padding: 50px 0;
}

section.counters .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
}
